/* Padding and border in elements total width and height */
* {
  box-sizing: border-box;
}
/* Header */
h1 {
  margin: 5px;
}
/* remove margins and padding from the list */
ul  {
  margin: 0;
  padding: 0;
}
/* Style the list items */
ul li  {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type:none;
  background: #eee;
  font-size: 19px;
  transition: 0.2s;

/* Make the list items unselectable */
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
/* Stripe all the odd list items to a different color */
ul li:nth-child(odd) {
  background: #f9f9f9;
}